﻿#content > .holder {
    width: 1000px;
    height: 1200px;
    margin: 30px auto;
    background: #c8c6c6;
}

#content > .holder > .right {
    width:23%;
    height:1000px;
    float:right;
    border:1px solid #ccc;
}

#content > .holder > .center {
    width:74%;
    height:1000px;
    float:left;
    //background:rgba(240,240,240,1);
    border-radius:5px;
    padding:7px;
}


