﻿#content > .holder > .right {
    border:0 none;
}

#accardion{
	direction:rtl;
	padding:7px;
	margin:0;
	list-style:none;
	//width:400px;
	font-family:yek;	
	color:#555;
	
	background:white;
	border:2px solid #ccc;
	border-radius:3px;
	box-shadow:0 0 10px 1px #ccc;
}

#accardion > li{
	background:#fff;
	padding:10px;
}
#accardion > li:last-child{
	margin:0;
}

#accardion > li > input{
	display:none;
}

#accardion > li > input  ~ .content,
#accardion > li > .content{
	//height:140px;
	margin-top:7px;
}


#accardion > li > label{
	background:#777;	
	color:#fff;
    display:block;
    padding:3px;
    text-align:center;
	border-radius:3px;
	cursor:pointer;
}



    #accardion > li > .content > a:hover,
    #accardion > li > .content > a.sel {
        background: rgba(220,220,220,1);
        border-right: 5px solid #777;
    }

#accardion > li > .content > a{
	display:block;
	text-align:center;
	font-family:mitra;
    
	color:#555;
	background:rgba(240,240,240,1);
	margin-top:5px;
	padding:10px 0;
	
	text-decoration:none;
}

