﻿body {
    margin:0;
    font-family:yek;
    direction:rtl;
}
#header {
    height:150px;
    background:linear-gradient(#fff,#eee);
    box-shadow:0 0 10px 1px #ccc;
    border-bottom:1px solid #ccc;
    z-index:20;
    position:relative;
}
#content {
    height: 1200px;
    background: url('../image/panel/01 bg.png') repeat-x;
    border-top:1px solid transparent;
}
#footer{
    background:#777;
    height:200px;
    border-top:5px solid #ccc;
}