@font-face {
  src: url("../fonts/IRANSansWeb_Bold.ttf");
  font-family: sansB;
}

body {
  direction: rtl;
  font-family: sansB;
  margin: 0;
}

.holder {
  margin: 0 auto;
  width: 1366px;
  height: auto;
  -webkit-box-shadow: 0 0 15px 1px rgba(97, 97, 97, 0.8);
          box-shadow: 0 0 15px 1px rgba(97, 97, 97, 0.8);
}
/*# sourceMappingURL=base.css.map */