.holder .content {
  height: auto;
  width: 1200px;
  overflow: hidden;
  padding-bottom: 20px;
  margin: 0 auto;
}

.holder .content .right {
  height: 100%;
  width: 74.5%;
  float: right;
}

.holder .content .left {
  height: 100%;
  width: 24%;
  float: left;
}

.holder .content .title {
  border-radius: 100px;
  text-align: left;
  margin: 20px 0px;
  display: block;
  cursor: pointer;
  background: #727272;
  height: 2.5px;
}

.holder .content .title:hover {
  background: #c41717;
}

.holder .content .title p {
  position: relative;
  top: -12px;
  padding: 0 0 0 8px;
  width: 100px;
}

.holder .content .title .color {
  color: #d50000;
  background: url("../image/title/dotred.png") #fff no-repeat 95% 50%;
  background-size: 20px;
}

.holder .content .title .color2 {
  width: 80px;
  color: #6d17f8;
  background: url("../image/content/dotgray.png") #fff no-repeat 95% 50%;
  background-size: 20px;
}

.holder .content .news-holder {
  margin: 35px auto;
  border-radius: 5px;
  margin-bottom: 60px;
  background-color: #e3e2e2;
  -webkit-box-shadow: 0 0 2px 1px #8f8989;
          box-shadow: 0 0 2px 1px #8f8989;
  width: 99%;
  height: 310px;
  border: 1px solid #ccc;
}

.holder .content .news-holder img {
  height: 85%;
  margin: 25px 15px;
  float: right;
}

.holder .content .news-holder .allnews {
  margin-top: 15px;
  float: right;
  color: #7a7272;
}

.holder .content .news-holder .allnews p {
  padding: 10px;
  margin-bottom: 5px;
  border-bottom: 1px solid #c4c4c4;
  width: 450px;
  background: url("../image/content/dotgray.png") no-repeat 100% 50%;
  background-size: 19px;
  cursor: pointer;
  text-indent: 20px;
}

.holder .content .latest {
  border: 1px solid #bbb;
  border-radius: 5px;
  background-color: #efefef;
  height: 600px;
  margin-right: 5px;
  margin-top: 55px;
}

.holder .content .latest .head {
  height: 10px;
  background-color: orangered;
  margin-top: 8px;
}

.holder .content .latest .head p {
  padding: 15px 10px;
  background-color: #efefef;
  position: relative;
  top: -38px;
  display: inline-block;
  font-size: 13px;
  right: 15px;
  font-weight: 900;
  border-radius: 10px 10px 0 0;
  color: orangered;
}

.holder .content .latest .news {
  margin: 40px 10px;
}

.holder .content .latest .news p {
  text-indent: 45px;
  background: url("../image/content/dotgray.png") no-repeat 100% 50%;
  background-size: 30px;
  cursor: pointer;
  color: #7a7272;
  padding: 15px 0;
}

.holder .content .news-slide {
  background-color: #edebfb;
  margin-bottom: 50px;
  height: 265px;
  margin-top: 10px;
  border-radius: 5px;
  position: relative;
  -webkit-box-shadow: 0 0 2px 1px #8f8989;
          box-shadow: 0 0 2px 1px #8f8989;
}

.holder .content .news-slide .items {
  height: 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
  position: absolute;
  overflow: hidden;
}

.holder .content .news-slide .items img {
  height: 100%;
  float: right;
}

.holder .content .news-slide .items .news-slide-info {
  float: right;
}

.holder .content .news-slide .items h2 {
  margin: 25px;
  color: #544f4f;
  cursor: pointer;
}

.holder .content .news-slide .items p {
  color: #8b8386;
  margin: 25px;
  cursor: pointer;
}

.holder .content .news-slide .left {
  width: 28px;
  height: 28px;
  border-radius: 100%;
  background: url("../image/slider/left.png") #247baa no-repeat 50% 50%;
  background-size: 15px;
  -webkit-box-shadow: 0 0 2px 1px #8f8989;
          box-shadow: 0 0 2px 1px #8f8989;
  position: absolute;
  left: 10px;
  cursor: pointer;
  bottom: 10px;
}

.holder .content .news-slide .right {
  width: 28px;
  height: 28px;
  position: absolute;
  cursor: pointer;
  border-radius: 100%;
  -webkit-box-shadow: 0 0 2px 1px #8f8989;
          box-shadow: 0 0 2px 1px #8f8989;
  background: url("../image/slider/right.png") #247baa no-repeat 50% 50%;
  background-size: 15px;
  left: 50px;
  bottom: 10px;
}

.holder .content .news-slide input {
  display: none;
}

.holder .content .news-slide #l1:checked ~ #item1 {
  opacity: 1;
}

.holder .content .news-slide #l2:checked ~ #item2 {
  opacity: 1;
}

.holder .content .news-slide #l3:checked ~ #item3 {
  opacity: 1;
}

.holder .content .news-slide #l4:checked ~ #item4 {
  opacity: 1;
}

.holder .content .news-slide #a1:checked ~ #items1 {
  opacity: 1;
}

.holder .content .news-slide #a2:checked ~ #items2 {
  opacity: 1;
}

.holder .content .news-slide #a3:checked ~ #items3 {
  opacity: 1;
}

.holder .content .news-slide #a4:checked ~ #items4 {
  opacity: 1;
}

.holder .content .grid-news {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.holder .content .grid-news .item {
  height: 400px;
  background: #f5f5f5;
  width: 283px;
  border-radius: 5px;
  -webkit-box-shadow: 0 4px 5px -2px #575757;
          box-shadow: 0 4px 5px -2px #575757;
}

.holder .content .grid-news .item:last-child {
  background: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.holder .content .grid-news .item img {
  width: 100%;
  height: 170px;
  border-bottom: 6px solid #726df3;
}

.holder .content .grid-news .item h2 {
  margin: 20px 15px;
  color: #042cce;
}

.holder .content .grid-news .item p {
  color: #78787a;
  font-size: 17px;
  margin: 20px 15px;
}

.holder .content .grid-news .item .news {
  height: 180px;
  border: 1px solid #ccc;
  margin-bottom: 35px;
  border-radius: 5px;
  overflow: hidden;
  -webkit-box-shadow: 0 4px 5px -2px #575757;
          box-shadow: 0 4px 5px -2px #575757;
  background: #f5f5f5;
}

.holder .content .grid-news .item .news header {
  height: 10px;
  border-radius: 20px 20px 0 0;
  background: #726df3;
  margin-top: 10px;
}
/*# sourceMappingURL=content.css.map */