.footer {
  height: 550px;
  margin-top: 80px;
  width: 100%;
}

.footer .top {
  background-color: #3c464b;
  height: 76%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.footer .top .item {
  width: 33%;
  height: 280px;
  margin: 90px 0;
  border-left: 1.8px solid #686a6a;
}

.footer .top .item:last-child {
  border: none;
}

.footer .top .item h2 {
  color: #a2a2a7;
  margin: -40px 60px 0 0;
}

.footer .top .item .items {
  height: 100px;
  border: none;
  width: 100%;
  margin: 30px 80px 30px 0;
}

.footer .top .item .items img {
  height: 100%;
  float: right;
}

.footer .top .item .items p {
  float: right;
  color: #a2a2a7;
  cursor: pointer;
  margin: 70px 30px 0 0;
}

.footer .bottom {
  background-color: #263238;
  height: 24%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 1.8px solid #686a6a;
}

.footer .bottom h3 {
  margin: 45px;
  font-size: 18px;
  color: #a2a2a7;
  cursor: pointer;
}

.footer .bottom .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 350px;
  margin-top: 40px;
}

.footer .bottom .contact .item {
  width: 40px;
  cursor: pointer;
  height: 40px;
}

.footer .bottom .contact .item:nth-child(4) {
  background: url("../image/logo/facebook.png") #a2a2a7 no-repeat 50% 50%;
  background-size: 65px;
  border-radius: 10px;
}

.footer .bottom .contact .item:nth-child(3) {
  background: url("../image/logo/instagram.png") #a2a2a7 no-repeat 50% 50%;
  background-size: 65px;
  border-radius: 10px;
}

.footer .bottom .contact .item:nth-child(2) {
  background: url("../image/logo/mail.png") #a2a2a7 no-repeat 50% 50%;
  background-size: 50px;
  border-radius: 10px;
}

.footer .bottom .contact .item:nth-child(1) {
  background: url("../image/logo/Share.png") #a2a2a7 no-repeat 50% 50%;
  background-size: 30px;
  border-radius: 10px;
}
/*# sourceMappingURL=footer.css.map */