﻿#content,
#content > .holder,
#content > .holder > .center{
    height: auto;
    overflow:hidden;
}

#form {
    background: #fff;
    border-radius: 3px;
    margin: 5px;
}

    #form > h2 {
        background: #c8c6c6;
        width: 70%;
        padding: 10px;
        text-align: center;
        font-family: tul;
        color: #555;
        margin: 0 auto;
        border-radius: 0 0 100% 100%;
    }

    #form > #error {
        width: 80%;
        margin: 30px auto;
        color: red;
    }

    #form > .items {
        background: rgba(240,240,240,1);
        width: 80%;
        margin: 10px 60px;
        padding: 3px;
        border-radius: 3px;
    }

        #form > .items.s1 {
            width: 60%;
        }

        #form > .items.s2 {
            width: 40%;
        }

        #form > .items > input {
            height: 40px;
            border: 0 none;
            width: 80%;
            text-indent: 20px;
            font-family: mitra;
            font-size: 20px;
        }

        #form > .items.s1 > input {
            width: 70%;
        }

        #form > .items.s2 > input {
            width: 60%;
        }

        #form > .items > .title {
            background: rgba(220,220,220,1);
            padding: 3px 5px;
            color: #555;
        }

        #form > .items > select {
            height: 40px;
            border: 0 none;
            width: 82%;
            text-align: center;
            font-family: mitra;
            font-size: 20px;
        }

            #form > .items > select > option {
                text-align: center;
                font-family: mitra;
                font-size: 20px;
            }

        #form > .items > input[type=radio],
        #form > .items > input[type=file] {
            display: none;
        }

        #form > .items > input[type=submit] {
            background: #fff;
            display: block;
            margin: auto;
            margin-bottom: 2px;
            width: 90%;
        }

        #form > .items > textarea {
            width: 99.5%;
            max-width: 99.5%;
            min-width: 99.5%;
            border: 0 none;
            height: 200px;
            min-height: 180px;
        }

        #form > .items > input[type=file] + label {
            display: inline-block;
            width: 85%;
            height: 40px;
            background: url("../image/panel/208w.png") orange no-repeat 30% 50%;
            background-size: 32px;
            color: #fff;
            text-align: center;
            line-height: 40px;
            cursor: pointer;
        }

        #form > .items > input[type=radio] + label {
            margin-right: 70px;
            padding-right: 40px;
            color: #555;
            background: url("../image/panel/tik20.png") no-repeat 95% 50%;
            background-size: 22px;
        }

        #form > .items > input[type=radio]:checked + label {
            background: url("../image/panel/tik2.png") no-repeat 95% 50%;
            background-size: 22px;
        }

    #form > .no_bg {
        background: #fff;
        margin: 30px 60px;
    }

        #form > .items > img {
            width:100%;
        }


/*  validation  */

    #form > .items.er > input {
        border:2px solid orange;
    }

    #form > .items.er > .error {
        padding: 5px 12px;
        background: url('../image/panel/error.png') no-repeat 0%;
        background-size:28px;
        margin-right:4px;
    }

    #form > .items.ok > .error {
        padding: 5px 12px;
        background: url('../image/panel/tik3.png') no-repeat 0%;
        background-size:28px;
        margin-right:5px;
    }

