.header {
  width: 100%;
  height: 60px;
  background-color: #303030;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .menu {
  list-style: none;
  padding: 0;
  margin: 15px 20px;
}

.header .menu li {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  float: right;
  padding: 5px 7px;
  margin: 0 5px;
  color: #e7e7e7;
  border-radius: 15px;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
}

.header .menu li:hover {
  background-color: #9b9b9b;
}

.header .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.header .search .input {
  width: 160px;
  height: 25px;
  margin: 16px 0;
  text-indent: 20px;
  border-radius: 0px 50px 50px 0px;
  background-color: #e7e7e7;
  border: none;
}

.header .search .search-btn {
  border-radius: 50px 0 0 50px;
  text-align: center;
  width: 45px;
  height: 27px;
  cursor: pointer;
  background: url("../image/search.svg") no-repeat 50% 50%;
  background-size: 22px;
  margin: 16px 0;
  background-color: #e7e7e7;
}

.header .search .logo {
  margin: 7px 20px 0 30px;
  width: 45px;
  height: 45px;
  background: url("../image/logo.png") #fff no-repeat 50% 50%;
  background-size: 35px;
  border-radius: 50px;
}
/*# sourceMappingURL=header.css.map */