﻿#header > .top{
    height:40px;
    border-bottom:1px solid #ddd;
    background:#fff;
}

    #header > .top > .holder {
        width:1000px;
        margin:0 auto;
        direction:rtl;
        font-family:mj;
        color:#555;
        position:relative;
    }

        #header > .top > .holder > .home {
            position:absolute;
            left:20px;
            top:20px;
            background:#fff;
            border-radius:100%;
            padding:10px;
        }
        #header > .top > .holder > .home > img {
            width:30px;
        }

        #header > .top > .holder > img {
            width:70px;
            background:#fff;
            padding:12px;
            border:1px solid #ddd;
            border-radius:3px;
            margin:20px 30px;
            box-shadow:0 0 10px 1px #ddd;
        }
        #header > .top > .holder > h2 {
            position:absolute;
            top:30px;
            right:150px;
            font-weight:500;
        }

        #header > .top > .holder > .wel {
            top:80px;
            font-size:18px;
        }
            #header > .top > .holder > .wel > span {
                color:red;
            }

