.imp-videos {
  margin-top: 35px;
}

.imp-videos .title {
  border-radius: 100px;
  text-align: center;
  margin: 30px 80px;
  display: block;
  cursor: pointer;
  background: #222222;
  height: 2px;
}

.imp-videos .title:hover {
  background: #c41717;
}

.imp-videos .title p {
  position: relative;
  top: -12px;
  width: 140px;
  display: block;
  margin: 0 auto;
  background-color: #fff;
}

.imp-videos .mini-slider {
  width: 1200px;
  margin: 0 auto;
  height: 410px;
  overflow: hidden;
}

.imp-videos .mini-slider .gal {
  width: 400%;
  overflow: hidden;
  height: 340px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: relative;
  right: -602px;
}

.imp-videos .mini-slider .gal .items {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  width: 590px;
  border-radius: 5px;
  -webkit-box-shadow: 0 4px 5px -2px #575757;
          box-shadow: 0 4px 5px -2px #575757;
  height: 330px;
  margin-left: 10px;
  float: right;
}

.imp-videos .mini-slider .gal .items img {
  width: 100%;
  height: 100%;
  height: 100%;
  border-radius: 5px;
}

.imp-videos .mini-slider .gal .items .footer {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  height: 70px;
  background: #1a1a1aa9;
  position: relative;
  border-top: 1px solid #8b8b8b;
  top: -80px;
}

.imp-videos .mini-slider .gal .items .footer p {
  text-align: center;
  color: blanchedalmond;
  line-height: 35px;
}

.imp-videos .mini-slider .gal .items .play {
  width: 50px;
  height: 50px;
  background: url(../image/miniSlider/video.png) rgba(247, 95, 120, 0.849) no-repeat 50% 50%;
  background-size: 45px;
  border-radius: 50px;
  position: relative;
  right: 490px;
  cursor: pointer;
  -webkit-box-shadow: 0 0 10px 1px black;
          box-shadow: 0 0 10px 1px black;
  top: -225px;
}

.imp-videos .mini-slider .gal .items:first-child {
  margin-right: 315px;
}

.imp-videos .mini-slider .gal .items:hover .footer {
  background: #1a1a1ae3;
}

.imp-videos .mini-slider label {
  width: 24px;
  height: 24px;
  float: right;
  margin: 20px 15px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-radius: 100%;
  background: #333333;
  display: block;
  cursor: pointer;
}

.imp-videos .mini-slider label div {
  width: 8px;
  height: 8px;
  margin: 8px auto;
  border-radius: 100%;
  background: orange;
}

.imp-videos .mini-slider input {
  display: none;
}

.imp-videos .mini-slider #it1:checked ~ .gal {
  right: 0;
}

.imp-videos .mini-slider #it1:checked ~ div .lbl1 {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.imp-videos .mini-slider #it2:checked ~ .gal {
  right: -602px;
}

.imp-videos .mini-slider #it2:checked ~ div .lbl2 {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.imp-videos .mini-slider #it3:checked ~ .gal {
  right: -1204px;
}

.imp-videos .mini-slider #it3:checked ~ div .lbl3 {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.imp-videos .mini-slider #it4:checked ~ .gal {
  right: -1806px;
}

.imp-videos .mini-slider #it4:checked ~ div .lbl4 {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.imp-videos .mini-slider #it5:checked ~ .gal {
  right: -2408px;
}

.imp-videos .mini-slider #it5:checked ~ div .lbl5 {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
/*# sourceMappingURL=imp-videos.css.map */