﻿@media screen and (max-width:1000px) {

    #content > .holder {
        width: 500px;
    }
        #content > .holder > .right {
           width: 100%;
           height:auto;
        }
        #content > .holder > .center {
            width: 98%;
        }

    #form > .items,
    #form > .items.s1,
    #form > .items.s2 {
        width:87%;
        margin:10px auto;
    }
    #form > .items > input, 
       #form > .items.s2 > input{
        width:70%;
    }
    #form > .items > select{
        width:80%;
    }
        #form > .items > input[type=radio] + label {
             margin-right: 30px;
        }
        #form > .items > input[type=file] + label {
            width:75%;
        }

/*  header  */

    #header > .top > .holder {
        width: 500px;
    }
        #header > .top > .holder > img {
            margin:20px 190px;
            border-radius:100%;
        }
        #header > .top > .holder > h2 {
            right:10px;
            top:40px;
        }
        #header > .top > .holder > .wel {
            top: 100px;
        }

/*   grid   */

        #grid > .items > li.date {
            display:none;
        }

}
