﻿#content > .holder {
    width: 500px;
    margin: 50px auto;
    direction: ltr;
}

    #content > .holder > .center {
        width: 100%;
    }

#form {
    width: 96%;
    direction: rtl;
    padding-bottom: 30px;
}

    #form > .logo {
        display: block;
        margin: 40px auto;
        width: 110px;
    }

    #form > .items {
        background: none;
    }


        #form > .items > .title {
            background: #656565;
            border-bottom-right-radius: 10px;
            border-top-right-radius: 10px;
            box-shadow: 1px 1px 15px 1px #ccc;
            color: #fff;
            width: 67px;
            padding: 8px;
            cursor:pointer;
            text-align: center;
            display: inline-block;
        }

        #form > .items > .title:hover {
                background: #555;
        }

        #form > .items > input {
            border: 1px solid #ddd;
            box-shadow: 1px 1px 10px 1px #ccc;
            border-bottom-left-radius: 10px;
            border-top-left-radius: 10px;
            width: 70%;
        }

            #form > .items > input[type=submit] {
                border: 0 none;
                border-bottom-right-radius: 10px;
                border-top-right-radius: 10px;
                width: 95%;
                background: rgba(245,245,245,1);
                color: #555;
                margin-top: 15px;
                position: relative;
                right: -13px;
            }

    #form > a {
        text-decoration: none;
        color: red;
        text-align: center;
        display: block;
        margin-top: 30px;
    }
