#slider {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 450px;
  margin: 0px auto;
}

#slider #gal {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: relative;
  left: 0;
  width: 500%;
  height: 100%;
}

#slider #gal .items {
  width: 20%;
  height: 100%;
  float: right;
  margin: 0;
}

#slider #gal .items figcaption {
  position: relative;
  top: -300px;
  right: 120px;
  font-size: 38px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  color: #fff;
  display: inline-block;
  font-weight: 900;
  cursor: pointer;
}

#slider #gal .items p {
  position: relative;
  top: -300px;
  width: 40%;
  right: 120px;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black;
  font-size: 20px;
  color: #fff;
  font-weight: 900;
  cursor: pointer;
}

#slider #gal .items img {
  width: 100%;
  height: 100%;
}

#slider #right {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: absolute;
  top: 160px;
  right: 10px;
  width: 60px;
  border-radius: 50px;
  -webkit-box-shadow: 0 0 5px 1px rgba(202, 202, 202, 0.493);
          box-shadow: 0 0 5px 1px rgba(202, 202, 202, 0.493);
  height: 70px;
  background: url("../image/slider/right.png") no-repeat 50%;
  background-size: 35px;
  cursor: pointer;
}

#slider #left {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: absolute;
  top: 160px;
  left: 10px;
  width: 60px;
  border-radius: 50px;
  -webkit-box-shadow: 0 0 5px 1px rgba(202, 202, 202, 0.493);
          box-shadow: 0 0 5px 1px rgba(202, 202, 202, 0.493);
  height: 70px;
  background: url("../image/slider/left.png") no-repeat 50%;
  background-size: 35px;
  cursor: pointer;
}
/*# sourceMappingURL=slider.css.map */