﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="accardion.ascx.cs" Inherits="controls_accardion" %>


                    <ul id="accardion">
                        <li>
                            <input type="checkbox" id="d0" name="r" checked>
                            <label for="d0">درخواست ها </label>

                            <div class="content">
                               <a runat="server" href="~/admin/slider/add_slide.aspx#center">افزودن اسلاید </a>
                                <a runat="server" href="~/admin/news/add_account.aspx#center">افزودن خبر </a>
                                <a runat="server" href="~/admin/slider/alter_slide.aspx#center">ویرایش اسلاید </a>
                                <a runat="server" href="~/admin/news/alter_news.aspx#center">ویرایش خبر </a>
                            </div>
                        </li>
                        <li>
                            <input type="checkbox" id="d1" name="r" checked>
                            <label for="d1">مشاهده</label>

                            <div class="content">
                                <a runat="server" href="~/admin/slider/all_slide.aspx#center">نمایش همه اسلاید ها </a>
                                <a runat="server" href="~/admin/slider/all_news.aspx#center">نمایش همه اخبار</a>
                            </div>
                        </li>
                         <li>
                            <input type="checkbox" id="d1" name="r" checked>
                            <label for="d1">تنظیمات</label>

                            <div class="content">
                                <a runat="server" href="~/admin/Account/alter_account.aspx?id=1000">پروفایل</a>
                            </div>
                        </li>

                    </ul>