﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="top_header.ascx.cs" Inherits="controls_top_header" %>
 <div class="top">
                <div class="holder">

                    <a runat="server" class="home" href="~/admin/admin.aspx">
                        <img runat="server" src="~/image/panel/308g.png" />
                    </a>

                    <img id="user_pic" runat="server" src="../images/icons/275g.png" />

                    <h2 id="title" runat="server">پنل دانشجو</h2>
                    <h2 class="wel">خوش آمدید 

                        <span id="wel" runat="server"> </span>
                    </h2>

                </div>


            </div>